<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    {% load static %}

    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link rel="icon" href="{% static 'images/favicon.webp' %}" type="image/webp">
    <link rel="stylesheet" type="text/css" href="{% static 'style-delete.css' %}">

    
    <title>CallList</title>

</head>
<body>

    <div class="container">

        <header class="hero">
            <a href="{% url 'edit' contact.id %}">
                <i class="fa-solid fa-arrow-circle-left back-btn"></i>
            </a>

            <div class="hero-info">
                <h1 class="name">{{ contact.full_name }}</h1>
                <p class="relationship">{{ contact.relationship }}</p>
            </div>
        </header>

        <form action="" method="POST">
        {% csrf_token %}
            <section class="button-container">
                <p>Are you sure you want to delete this contact?</p>

                
                    <div class="update-contact">
                        <i class="fa-solid fa-trash icon-gradient"></i>
                        <button class="button">Delete Contact</button>
                    </div>
                

            </section>
            
        </form>
    </div>
    
</body>
</html>