<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CallList</title>




    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    {% load static %}

    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link rel="icon" href="{% static 'images/favicon.webp' %}" type="image/webp">
    <link rel="stylesheet" type="text/css" href="{% static 'style-edit.css' %}">


</head>
<body>
    <div class="container">

        <header class="hero">
            <a href="{% url 'profile' contact.id %}">
                <i class="fa-solid fa-arrow-circle-left back-btn"></i>
            </a>

            <div class="hero-info">
                <h1 class="name">{{ contact.full_name }}</h1>
                <p class="relationship">{{ contact.relationship }}</p>
            </div>
        </header>

        <form action="" method="POST">
            {% csrf_token %}
            <section class="contact-info">

                <div class="info-line">
                    <i class="fa-solid fa-phone-flip icon-gradient"></i>
                    <input type="text" class="type" name="fullname" value="{{ contact.full_name}}">
                </div>

                <div class="info-line">
                    <i class="fa-solid fa-comment-dots icon-gradient"></i>
                    <input type="text" class="type" name="relationship" value="{{ contact.relationship}}">
                </div>

                <div class="info-line">
                    <i class="fa-solid fa-phone-flip icon-gradient"></i>
                    <input type="text" class="type" name="phone" value="{{ contact.phone_number}}">
                </div>

                <div class="info-line">
                    <i class="fa-solid fa-envelope icon-gradient"></i>
                    <input type="text" class="type" name="email" value="{{ contact.email }}">
                </div>

                <div class="info-line">
                    <i id="location" class="fa-solid fa-location-dot icon-gradient"></i>
                    <input type="text" class="type" name="address" value="{{ contact.address }}">
                </div>          
            </section>

        
        
            <section class="button-container">
                <a href="{% url 'profile' contact.id %}">
                    <div class="update-contact">
                        <i class="fa-solid fa-circle-check icon-gradient"></i>
                        <button class="button">Save Contact</button>
                    </div>
                </a>
            </section>


        </form> 
        
        
            <section class="button-container">
                <a href="{% url 'delete' contact.id %}">
                    <div class="update-contact">
                        <i class="fa-solid fa-trash icon-gradient"></i>
                        <button class="button">Delete Contact</button>
                    </div>
                </a>
            </section>
    

        
</body>
</html>